@{
    Layout = null;
}
<div class="login">
    <img src="/Material/Img/hand.jpg" />
    <div class="textFa">
        <i class="fa fa-mobile"></i>
        <input type="text" maxlength="11" class="form-control" id="mobileNum" />
    </div>
    <button type="button" class="btn btn-default" onclick="login(this)"><i class="fa fa-bolt"></i>我的预约</button>
</div>